<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm Your Email Change Request</title>
</head>
<body>
    <p>You requested to change your email address. Please click the link below to confirm this request.</p>
    <p>Confirmation Link: <a th:href="${link}" th:text="${link}"></a></p>
    <p>If the link doesn't work, you can go to the email change confirmation page and enter the following token:<br><strong th:text="${token}"></strong></p>
    <p>This token will expire in <span th:text="${expiration}"></span> minutes. If you did not request this, please ignore this email.</p>
</body>
</html>
