<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <p>You requested a password reset. Please click the link below to proceed.</p>
    <p>Reset Link: <a th:href="${link}">Click here to reset your password</a></p>
    <p>If the link doesn't work, you can use the following 6-character code on the password reset page:<br><strong th:text="${code}"></strong></p>
    <p>This link and code will expire in <span th:text="${expiration}"></span> minutes. If you did not request this, please ignore this email.</p>
</body>
</html>
