server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  datasource:
    url: jdbc:postgresql://localhost:5432/stonemark
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: validate
        show-sql: true
        format_sql: true
        hbm2ddl.auto: update
    open-in-view: false
  h2:
    console:
      enabled: true
      path: /h2-console
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_ADDRESS}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
      mail.smtp.ssl.trust: smtp.gmail.com
      mail.debug: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.auth-server-url}/realms/${keycloak.realm}
          jwk-set-uri: ${keycloak.auth-server-url}/realms/${keycloak.realm}/protocol/openid-connect/certs
  flyway:
    enabled: true
    baseline-on-migrate: true

storage:
  provider: minio # or local
  local:
    root-path: uploads

minio:
  endpoint: http://localhost:9000
  bucket-name: stonemark
  access-key: ${MINIO_ROOT_USER}
  secret-key: ${MINIO_ROOT_PASSWORD}

vision:
  server:
    url: http://localhost:8000

keycloak:
  auth-server-url: http://localhost:9090
  realm: stonemark-realm
  client-id: stonemark-service
  client-secret: 72TmkVyRbPQl7eEkqxWaEjHRNno9PRWy
  admin:
    username: ${KEYCLOAK_USERNAME}
    password: ${KEYCLOAK_PASSWORD}
    realm: ${KEYCLOAK_ADMIN_REALM:master}
    client-id: ${KEYCLOAK_ADMIN_CLIENT_ID:admin-cli}

logging:
  level:
    org.springframework: INFO
    pt.estga: DEBUG

application:
#  base-url: http://localhost:8080
  base-url: https://api.stonemark.pt
  frontend-url: https://stonemark.pt
  security:
    email-verification-required: false

telegram:
  bot:
    username: stonemarkbot
    token: ${TELEGRAM_BOT_TOKEN}
    webhook-path: /webhook
